

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
h1{
    font-family: "raleway", sans-serif;
}

h2{
    font-family: "inter", sans-serif;
    
}
h6{}


/* nav styel */
header{
    background-image: url(../images/Hero-bg.png);
    max-width: 1440px;
    max-height: 698px;
}
.logo{
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.nav-btn{
    width: 132px;
    height: 48px;
    color:white;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.nav{
    margin: 0 150px;
    max-width: 1140px;
    max-height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* banner style */
.banner-title{
    margin: 0 267.5px;
    align-items: center;
    padding-bottom: 152px;
}
.banner-heading{
    max-width: 905px;
    max-height: 152px;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-top: 158px;
    
}
.banner-btn{
    margin: 0 365.5px 0 365.5px ;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 5px;
}
