

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */

body{
    max-width: 1440px;
    background-color: #F5F8FF;
}

/* nav styel */
header{
    background-image: url(../images/Hero-bg.png);
    max-width: 1440px;
    max-height: 698px;
}
.logo{
    font-family: "Inter", sans-serif;
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.nav-btn{
    font-family: "Raleway", sans-serif;
    width: 132px;
    height: 48px;
    color:white;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.nav{
    margin: 0 150px;
    max-width: 1140px;
    max-height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* banner style */
.banner-title{
    margin: 0 267.5px;
    align-items: center;
    padding-bottom: 152px;
}
.banner-heading{
    font-family: "Raleway", sans-serif;
    max-width: 905px;
    max-height: 152px;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-top: 158px;
    
}
.banner-btn{
    font-family: "Raleway", sans-serif;
    margin: 0 365.5px 0 365.5px ;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/* action section */
.action{
    width: 1140px;
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 150px;
}
.left-action{
    width: 517px;
    height: 203px;
}
.action-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-subtitle{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action-btn{
    font-family: "Raleway", sans-serif;
    width: 229px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* productive-user section */
.productive-user{
    width: 1140px;
    height: 306px;
    margin: 0 150px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}
.productive-user-container{
    width: 856px;
    height: 206px;
    align-items: center;
    margin: 50px 142px;
    padding-top: 25px;


}
.productive-user-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;

}
.productive-user-data{
    width: 856px;
    height: 121px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

.data-title{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    line-height: 0;

}
.data-sub{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20;
    color: rgba(0, 0, 0, 0.5);
    line-height: 0;
    text-align: center;
}

/* focus styles */
.focus{
    width: 1140px;
    height: 697px;
    border-radius: 14px;
    margin:137px 150px 0 ;
    background-color: white;

}
.focus-container{
    padding-top: 5px;
}
.focus-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: black;
    margin: 71px 312px 0;
    padding-bottom: 20px;

}
.focus-sub{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 326px;

}
.focus-btn{
    width: 195px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin: 20px 472.5px;
    border: none;

}
.focus-img{
    border-radius: 48px;
    margin: 0 150px 71px;
}
/* touch section */
.touch{
    display: flex;
    max-width: 1140px;
    max-height: 632px;
    justify-content: space-between;
    margin: 92px 150px 0;
    align-items: center;
}
.touch-right{
    padding-left: 250px;
}
.touch-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 97px;
    color: black;
    
}
input[type="email"]{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 497px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    border: none;
    border: 1px solid #D6DDED;
}
input[type="text"]{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 497px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    border: none;
    border: 1px solid #D6DDED;
}
textarea{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 497px;
    height: 135px;
    border-radius: 10px;
    background-color: white;
    border: none;
    border: 1px solid #D6DDED;
}
input[type="button"]{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 497px;
    height: 62px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;}
.email{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
}    
.name{font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;}
    .msg{font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;}